<template>
  <div class="grid">
    <div class="grided_images" v-for="image in imagesProp" :key="image.key">
      <img :src="image.src">
    </div>
  </div>
</template>

<script>
export default {
  name: "GridView",
  props: ["imagesProp"]
};
</script>

<style scoped lang="scss">
.grid {
  position: absolute;
  max-height: 100vh;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  transition: all ease-in 600ms;
  background-color: white;
  z-index: 10;
}

.grided_images {
  display: inline;
}

img {
  height: 300px;
}
</style>