<template>
    <div class="info">
        <div class="container">
            <div class="descriptions">
                <div class="desc_line">{{ desc.header }}</div>
                <div class="desc_line">{{ desc.description }}</div>
                <div class="desc_line">{{ desc.contact }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Info",
        props: ["desc"]
    };
</script>

<style scoped lang="scss">

    .descriptions {
        margin-top: 20%;
    }

    .desc_line {
        width: 100%;
        height: 50px;
    }

    .info {
        position: fixed;
        width: 100%;
        height: 100%;
        transition: all ease-in 600ms;
        background-color: darkgray;
        z-index: 50;
    }

    .info_hidden {
        transform: translateY(100%);
    }

    .container {
        position: relative
    }
</style>