<template>
  <div class="slide">
    <div class="inside" 
    v-for="(image, index) in imagesProp" 
    :style="{opacity: opacity[index], ...image.style}"
    :key="image.key">
      <div style="display: inline-block" class="left" @click="to_left()">to left</div>
      <img :src="image.src" style="display: inline-block" width="30%">
      <div style="display: inline-block" class="right" @click="to_right()">to right</div>
    </div>
    <div class="caption">{{ imagesProp[opacity.indexOf(1)].desc }}</div>
  </div>
</template>

<script>
export default {
  name: "SlideView",
  props: ["imagesProp"],
  data() {
    return {
      opacity: []
    };
  },
  methods: {
    to_left: function() {
      this.opacity = this.opacity.slice(1).concat(this.opacity[0]);
    },
    to_right: function() {
      this.opacity = this.opacity
        .slice(this.opacity.length - 1, this.opacity.length)
        .concat(this.opacity.slice(0, this.opacity.length - 1));
    }
  },
  mounted: function() {
    this.opacity = [1].concat(
      Array.from(Array(this.imagesProp.length - 1)).fill(0)
    );
  }
};
</script>

<style scoped lang="scss">
.inside {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease-out;
}

.slide {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.image {
  width: 80%;
}

.caption {
  position: fixed;
  bottom: 50px;
  left: 50px;
}

.left,
.right,
.image {
  padding-top: 25%;
  color: white;
  width: 10%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>