<template>
  <div id="app">
    <div class="title front_texts">SITE TITLE</div>
    <div class="grid_button front_texts" @click="show_grid()">VIEW<br>CHANGE!</div>
    <div class="info_button front_texts_bottom" @click="show_info()">INFO</div>

    <div class="containter">
      <Grid :imagesProp="images" :style="'margin-top: ' + grid_margin + 'px'"/>
      <Slide :imagesProp="images"/>
      <Info :desc="main_description" :class="[info_show == 1 ? 0 : 'info_hidden', '']"/>
    </div>
  </div>
</template>

<script>
import Slide from "./components/Slide.vue";
import Grid from "./components/Grid.vue";
import Info from "./components/Info.vue"

export default {
  name: "app",
  data() {
    return {
      grid_margin: -screen.height,
      info_show: 0,
      main_description: {
        header: "MAIN HEADER",
        description: "a bit longer description about idea",
        contact: "contact info"
      },
      images: [
        { src: "../assets/img1.jpg", desc: "image 1 description", style: { "background-color": "black" } },
        { src: "../assets/img2.png", desc: "image 2 description", style: { "background-color": "magenta" } },
        { src: "../assets/img3.jpg", desc: "image 3 description", style: { "background-color": "yellow" } },
        { src: "../assets/img4.jpg", desc: "image 4 description", style: { "background-color": "blue" } },
        { src: "../assets/img5.jpg", desc: "image 5 description", style: { "background-color": "cyan" } },
        { src: "../assets/img3.jpg", desc: "image 6 description", style: { "background-color": "blue" } },
        { src: "../assets/img3.jpg", desc: "image 7 description", style: { "background-color": "black" } },
        { src: "../assets/img3.jpg", desc: "image 8 description", style: { "background-color": "red" } }
      ]
    };
  },
  components: { Slide, Grid, Info },
  methods: {
    show_grid: function() {
      this.grid_margin = this.grid_margin == -screen.height ? 0 : -screen.height;
    },
    show_info: function() {
      this.info_show = this.info_show == 1 ? 0 : 1;
    }
  },
  mounted() {
    this.images.forEach(function(x, index) {
      x.key = index;
    });
  }
};
</script>

<style lang="scss">
body {
  background-color: rgb(8, 134, 134);
}

body {
  margin: 0;
  padding: 0;
}

#app {
  max-height: 100vh;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.front_texts {
  text-align: center;
  position: fixed;
  top: 50px;
  z-index: 100;
  color: white;
  font-weight: 900;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.front_texts_bottom {
  text-align: center;
  position: fixed;
  bottom: 50px;
  z-index: 100;
  color: white;
  font-weight: 900;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  left: 50px;
}

.grid_button {
  right: 100px;
  background-color: darkblue;
  padding: 20px 30px;
}

.info_button {
  right: 100px;
  background-color: rgb(25, 177, 204);
  padding: 20px 30px;
}

.containter {
  position: relative;
}

#app {
}


</style>
